@function vw($px) {
    @return $px/750*100vw;
}
.swiper-container{
    background: #ccc;
    .swiper-slide{
        img{
            display: block;
            border: 0;
            width: 100%;
        }
    }
    .swiper-pagination{
        height: vw(60);
        width: 100%;
    }
}
