header {
  display: flex;
  justify-content: space-between;
}

header span.iconfont {
  font-size: 6.66667vw;
  padding-top: 1.6vw;
}

header .tit {
  flex: 1;
  padding-top: 2.4vw;
  text-align: center;
  font-size: 4.26667vw;
}
