header {
  display: flex;
  justify-content: space-between;
}

header span.iconfont {
  font-size: 6.66667vw;
  padding-top: 1.6vw;
}

header .tit {
  flex: 1;
  padding-top: 2.4vw;
  text-align: center;
  font-size: 4.26667vw;
}

.content {
  height: 100%;
}

.content aside {
  position: fixed;
  top: 11.2vw;
  bottom: 13.86667vw;
  left: 0;
  width: 20.26667vw;
  border-right: 0.26667vw solid #efefef;
  overflow: hidden;
}

.content aside ul {
  z-index: 90;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -4vw;
  padding: 0 4vw 2.66667vw 0;
  background: #fefefe;
  overflow-y: auto;
}

.content aside ul li {
  font-size: 4.53333vw;
  height: 12vw;
  line-height: 12vw;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  transition: -webkit-transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
  transform-origin: center center;
  transform: scale(0.76);
  -webkit-transition: -webkit-transform .1s linear;
  -webkit-transform-origin: center center;
  -webkit-transform: scale(0.76);
}

.content aside ul .liCurrent {
  color: #fb7d34;
  transform: scale(1);
  -webkit-transform: scale(1);
}

.content article {
  position: fixed;
  left: 27.2vw;
  top: 11.2vw;
  padding-right: 4.26667vw;
}

.content article > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  height: 152.8vw;
}

.content article .classify_tit img {
  height: 26.66667vw;
  width: 66.66667vw;
}

.content article .classify_itemList li {
  float: left;
  width: 33.33%;
  text-align: center;
  margin-top: 2.66667vw;
  margin-bottom: 4vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 3.06667vw;
  color: rgba(0, 0, 0, 0.54);
}

.content article .classify_itemList li img {
  width: 13.33333vw;
  height: 13.33333vw;
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
}

.content article .classify_itemTit {
  background: #fff;
  font-size: 3.73333vw;
  text-align: center;
  font-weight: 400;
  margin-top: 2.66667vw;
  height: 17.06667vw;
  line-height: 17.06667vw;
  overflow: hidden;
  position: relative;
}

.content article .classify_itemTit::before,
.content article .classify_itemTit::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 5.33333vw;
  border-top: 0.26667vw solid #e0e0e0;
  transform: translate3d(420%, -50%, 0);
  -webkit-transform: translate3d(420%, -50%, 0);
}

.content article .classify_itemTit::after {
  transform: translate3d(760%, -50%, 0);
  -webkit-transform: translate3d(760%, -50%, 0);
}

.content article .classify_toMore img {
  height: 10.66667vw;
  width: 66.66667vw;
}
