@function vw($px) {
    @return $px/750*100vw;
}

header {
    display: flex;
    justify-content: space-between;
    height: vw(84);
    width: 100%;
    background: #f2f2f2;
    color: #666;
    padding: 0;
    position: fixed;
    z-index:9999;
    top: 0;
    left: 0;
    input {
        border: vw(1) solid #e5e5e5;
        outline: none;
        width: 100%;
        margin: vw(8) 0;
        font-size: vw(30);
        line-height: vw(30);
        align-items: center;
        color: rgba(0, 0, 0, .2);
        background-color: #fff;
        text-align: left;
        border-radius: vw(4);
        padding-left: vw(60);
        background-image: url("./images/sousuo.png");
        background-size: vw(45);
        background-position: vw(10);
        background-repeat: no-repeat;
        padding-top: vw(5)
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: rgba(0, 0, 0, .2);
    }

    span {
        width: vw(60);
        margin: 0 vw(30);
    }

    .mi {
        background-image: url("./images/xiaomi.png");
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: vw(-2) vw(15);
    }

    .icon-wode {
        padding-top: vw(20);
        font-size: vw(42);
    }
}

.homeClassify {
    position: fixed;
    z-index:9999;
    top: vw(84);
    left: 0;
    .list {
        overflow-x: auto;
        background: #f2f2f2;
        font-size: vw(26);
        padding-right: 10%;
        height: vw(60);
        white-space: nowrap;
        .listBox{
            width: 132%;
        }
        div {
            float: left;
            padding: 0 vw(25);
            display: inline-block;
            white-space: nowrap;
            span {
                display: inline-block;
                line-height: vw(55);
                border-bottom: vw(4) solid rgba(237,91,0,0);
            }
            .spanActive{
                color: rgb(237, 91, 0);
                border-color: rgb(237, 91, 0);
            }
        }
    }
    .more{
        width: 10%;
        height: vw(60);
        position: absolute;
        right: 0;
        top: 0;
        background-color: #f2f2f2;
        background-image: url("./images/downarrow.png");
        background-size: vw(40);
        background-repeat: no-repeat;
        background-position: vw(5) vw(8);
    }
}
.banner{
    margin-top: vw(144);
}
.nav1{
    div{
        a{
            float: left;
            width: 20%;
            text-align: center;
            img{
                width: 100%;
                height: vw(152);
            }
        }
        
    }
}
.threePic{
    div{
        width: 50%;
        float: left;
        img{
            width: 100%;
        }
        
    }
    div:nth-of-type(2){
        padding-left: vw(5);
        height: 100%;
    }
    border-bottom: vw(16) solid rgb(245, 245, 245);
}

.toTop{
    position: fixed;
    bottom: vw(120);
    right: vw(30);
    height: vw(80);
    z-index: 999;
    width: vw(80);
    background-size: vw(50);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border: vw(1) solid black;
    background-image: url("./images/totop.png");
    border-radius: 50%;
}