.App {
  font-size: 3.73333vw;
}

main {
  margin-bottom: 13.86667vw;
}

nav {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  right: 0;
  height: 13.86667vw;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
}

nav a {
  width: 25%;
  text-align: center;
}

nav a i {
  display: block;
  width: 5.33333vw;
  height: 5.33333vw;
  margin: 0 auto 1.33333vw;
}

nav a i.iconfont {
  font-size: 5.06667vw;
}

nav .active {
  color: #ff6700;
}
